---
layout: default
---
{% include masthead.html %}
{% include countdown.html %}
<section id="resources" class="layer layer--padded">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="section-title">Resources</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns post-listings">
      {% for post in site.posts %}
      <article class="post-listing">
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
