---
layout: default
---
{% include masthead.html %}
<div class="post-listings">
  {% for post in site.posts limit:5 %}
  <article class="post-listing" href="{{ post.url }}">
    <div class="post-listing-inner">
      <h1 class="h3"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {% if post.notice %}
      <aside class="post-notice--subtle">{{ post.notice }}</aside>
      {% endif %}
      <p>{{ post.description }}</p>
      <small>Published on {{ post.date | date: "%Y %B %-d" }}{% if post.category %} under {{ post.category | capitalize }}{% endif %}</small>
    </div>
  </article>
  {% endfor %}
  <div class="placeholder">
    <h1>We're still busy writing!</h1>
    <p>Please check back again soon.</p>
  </div>
</div>
