---
layout: default
---
<section id="countdowns" class="countdown-wrapper">
  <div class="row">
    <div id="countdown-election" class="countdown past small-4 medium-4 columns">
      <div class="countdown-days"></div>
      <div class="countdown-description">Days since election</div>
    </div>
    <div id="countdown-inauguration" class="countdown future small-4 medium-4 columns">
      <div class="countdown-days"></div>
      <div class="countdown-description">Days until inaugration</div>
    </div>
    <div id="countdown-midterm" class="countdown future small-4 medium-4 columns">
      <div class="countdown-days"></div>
      <div class="countdown-description">Days until midterms</div>
    </div>
    <script>
      var election_date = moment("{{site.countdown.election_date}}");
      var inauguration_date = moment("{{site.countdown.inauguration_date}}");
      var midterm_date = moment("{{site.countdown.midterm_date}}");

      var diff_election = moment().diff(election_date, 'days');
      var diff_inauguration = -1 * moment().diff(inauguration_date, 'days');
      var diff_midterm = -1 * moment().diff(midterm_date, 'days');

      $("#countdown-election .countdown-days").text(diff_election);
      $("#countdown-inauguration .countdown-days").text(diff_inauguration);
      $("#countdown-midterm .countdown-days").text(diff_midterm);
    </script>
  </div>
</section>
<section id="events" class="events-wrapper section-wrapper">
  <div class="row small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-on="medium">
    {% for event in site.data.events %}
    <div class="event column">
      <div class="event-inner" data-equalizer-watch>
        <div class="event-date">
          <div class="event-date-month">{{ event.event_date | date: "%b" }}</div>
          <div class="event-date-day">{{ event.event_date | date: "%-d" }}</div>
        </div>
        <div class="event-content">
          <article>
            <h2>{{ event.title }}</h2>
            <address>
              {% if event.start_time %}<i class="fa fa-clock-o"></i> {{ event.start_time }}{% if event.end_time %} - {{ event.end_time }}<br />{% endif %}{% endif %}
              {% if event.location_name %}{{ event.location_name }}<br />{% endif %}
              {% if event.address_line_1 %}{{ event.address_line_1 }}<br />{% endif %}
              {% if event.address_line_2 %}{{ event.address_line_2 }}<br />{% endif %}
              {% if event.address_line_3 %}{{ event.address_line_3 }}<br />{% endif %}
            </address>
          </article>
          <div class="event-content-buttons">
            {% if event.facebook_event_url %}
            <a href="{{ event.facebook_event_url }}" class="button"><i class="fa fa-facebook"></i> Facebook</a>
            {% endif %}
            {% if event.google_maps_url %}
            <a href="{{ event.google_maps_url }}" class="hollow button"><i class="fa fa-map"></i> Map</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section id="resources" class="resources-wrapper section-wrapper">
  <div class="row small-up-1 medium-up-2 large-up-3 grid">
    {% for resource in site.data.resources %}
    <div class="resource column grid-item">
      <div class="resource-inner">
        <article>
          <p class="resource-category">{{ resource.category }}</p>
          <p>{{ resource.note }}</p>
          <a href="{{ resource.source_url }}"><h2><i class="fa fa-link"></i> {{ resource.link_title }}</h2></a>
          <p><a href="{{ resource.source_url }}"><small>{{ resource.source_attribution }}</small></a></p>
          <a href="{{ resource.source_url }}" class="hollow button"><i class="fa fa-arrow-right"></i> Go to External Page</a>
        </article>
      </div>
    </div>
    {% endfor %}
  </div>
  <script>
    $('.grid').masonry({
      itemSelector: '.grid-item'
    });
  </script>
</section>