<section id="countdowns" class="layer">
  <div class="row text-center">
    <div id="countdown-election" class="small-4 columns">
      <div class="first">
        <div class="stat"></div>
        <small>Days since election</small>
      </div>
    </div>
    <div id="countdown-inauguration" class="small-4 columns">
      <div class="second">
        <div class="stat"></div>
        <small>Days until inaugration</small>
      </div>
    </div>
    <div id="countdown-midterm" class="small-4 columns">
      <div class="third">
        <div class="stat"></div>
        <small>Days until midterms</small>
      </div>
    </div>
    <script>
      var election_date = moment("{{site.countdown.election_date}}");
      var inauguration_date = moment("{{site.countdown.inauguration_date}}");
      var midterm_date = moment("{{site.countdown.midterm_date}}");

      var diff_election = moment().diff(election_date, 'days');
      var diff_inauguration = -1 * moment().diff(inauguration_date, 'days');
      var diff_midterm = -1 * moment().diff(midterm_date, 'days');

      $("#countdown-election .stat").text(diff_election);
      $("#countdown-inauguration .stat").text(diff_inauguration);
      $("#countdown-midterm .stat").text(diff_midterm);
    </script>
  </div>
</section>