<section id="menu" class="layer footer">
  <div class="row">
    <div class="small-12 medium-6 large-4 columns">
      <ul class="menu vertical">
        <li class="menu-text">Navigation</li>
        <li class="menu-text"><a class="button secondary" href="/">Home</a></li>
        <li class="menu-text"><a class="button secondary" href="#topbar">Return to top</a></li>
      </ul>
    </div>
    <div class="small-12 medium-6 large-4 end columns">
      <ul class="menu vertical">
        <li class="menu-text">Social</li>
        <li class="menu-text"><a class="button" href="https://facebook.com/mercedcan"><i class="fa fa-facebook"></i> Like on Facebook</a></li>
      </ul>
    </div>
  </div>
</section>
<script>
$(function() {
  $('.footer').attr('style','min-height:' + $(window).height() + 'px');
})
</script>
