<div class="masthead">
  <div class="masthead-inner">
    <h1>
      <a href="/">
        Merced Collective Action Network<br />
        <span class="script">Justice For All</span>
      </a>
    </h1>
    <div class="countdowns">
      <div class="countdown election" date="{{ site.countdown.election_date }}">
        <div class="days">00</div>
        <div class="description">days since election</div>
      </div>
      <div class="countdown inauguration" date="{{ site.countdown.inauguration_date }}">
        <div class="days">00</div>
        <div class="description">days until inauguration</div>
      </div>
      <div class="countdown midterm" date="{{ site.countdown.midterm_date }}">
        <div class="days">00</div>
        <div class="description">days until midterm</div>
      </div>
    </div>
  </div>
</div>
