

.layer {
  &.layer--padded {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.masthead {
  position: relative;
  background: white;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#5fa87d,darken(#5fa87d,25%));
    opacity: .4;
  }
}

.liberty {
  background: url('/assets/images/liberty.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.site-name {
  padding-top: 2em;
  padding-bottom: 2em;
  h1 {
    font-family: "henderson-slab-basic";
    span {
      color: #d9531e;
    }
  }
}

#countdowns {
  text-transform: uppercase;
  line-height: 1;
  background: #5fa87d;
  color: white;

  .first, .second, .third {
    padding-top: 1em;
    padding-bottom: 1em;
    background: transparent;

    @include breakpoint(bp(iPhone6_l)) {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  .first {
  }
  .second {
  }
  .third {
  }
}

.section-title {
  color: white;
}
