.layer {
  padding-top: padding(default);
  padding-bottom: padding(default);

  @include breakpoint(bp(iPhone6_l)) {
    padding-top: padding(iPhone6_l);
    padding-bottom: padding(iPhone6_l);
  }

  @include breakpoint(bp(iPadAir_l)) {
    padding-top: padding(iPadAir_l);
    padding-bottom: padding(iPadAir_l);
  }
}

.container {
  @include container();
}

.card {
  $border: 1px solid #dfdfdf;
  $border-radius: 0.25em;
  $background: white;
  $margin: 1em;

  border-top: $border;
  border-bottom: $border;
  margin-bottom: $margin;
  background: $background;
  padding: padding(default)*2 padding(default);

  @include breakpoint(bp(iPhone6_l)) {
    border: $border;
    border-radius: $border-radius;
    padding: padding(iPhone6_l);
  }

  @include breakpoint(bp(iPadAir_l)) {
    padding: padding(iPadAir_l);
  }

  &.m-hover {
    @include breakpoint(bp(iPhone6_l)) {
      cursor: pointer;
      transition: box-shadow 0.25s;
      &:hover {
        box-shadow: $shadow3;
      }
    }
  }
}

.notice {
  $background: #eee;

  padding: padding(default)/2;
  background: $background;
  border: 1px solid darken($background, 10%);

  @include breakpoint(bp(iPhone6_l)) {
    padding: padding(default);
  }
}

.m-flushTop {
  margin-top: 0;
  padding-top: 0;
}

.m-lightGray {
  background: #efefef;
}
