* {
  box-sizing: border-box;
}

body {
  background: white;
}

.post {
}

.post-header {
  padding-bottom: 0.1em;
}

.post-notice {
  padding: 1em;
  margin-top: 1em;
  @include typi($small-map);
  background: $c3;
  color: white;
  @extend %shadow3;
  font-family: "proxima-nova-condensed", sans-serif;
}

.post-notice--subtle {
  padding: 1em;
  margin-top: 1em;
  @include typi($small-map);
  background: #eee;
  border: 1px solid #aaa;
  font-family: "proxima-nova-condensed", sans-serif;
}

.placeholder {
  text-align: center;
  padding-top: 5em;
  padding-left: 1rem;
  padding-right: 1rem;
  h1 {
    color: #555;
  }
}

.layer {
  @extend %vpad;
}

.layer-inside {
  @include container();
}

.masthead {
  display: table;
  width: 100%;
}

.masthead-inner {
  $background: $c2;

  background-color: $background;
  background-image: url('/assets/images/liberty.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 6em 1rem;

  &:before {
    content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-image: linear-gradient(to bottom right,$background,$background);
  	opacity: .9;
  }

  @include breakpoint(bp(iPadAir_l)) {
  }

  @include breakpoint(bp(laptop)) {
  }

  h1 {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 10;
    color: $c5;
    text-align: center;
    font-family: 'henderson-slab-basic', sans-serif;
    @include typi($h4-map);
    text-shadow: 3px 3px 0px darken($background,15%);
    line-height: 1.5;

    .script {
      font-family: 'bickham-script-pro-3', 'Edwardian Script', 'Brush Script MT';
      @include typi($h1-map);
    }

    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
}

.countdowns {
  @include container(bp(iPhone6_l));
  font-family: 'proxima-nova-condensed', sans-serif;
  margin-top: 2em;
  color: $c5;
}

.countdown {
  @include span(1 of 3);
  text-align: center;
  text-transform: uppercase;
  position: relative;

  .days {
    @include typi($h2-map);
  }

  .description {
    @include typi($small-map);
  }

  &.election {
    color: #666;
  }
}

.post-container {
  @include container(800px);
  padding-left: 1rem;
  padding-right: 1rem;
}
