* {
  box-sizing: border-box;
}

body {
  background: $c5;
}

.post {
}

.post-header {
  padding-bottom: 0.1em;
}

.layer {
  @extend %vpad;
}

.layer-inside {
  @include container();
}

.masthead-inner {
  $background: $c2;

  background-color: $background;
  background-image: url('/assets/images/liberty.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  display: table;
  width: 100%;
  padding: 6em 1rem;

  @include breakpoint(bp(iPhone6_l)) {
    background-position: 10% 0;
  }

  h1 {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 10;
    color: $c5;
    text-align: center;
    font-family: 'henderson-slab-basic', sans-serif;
    @include typi($h4-map);
    text-shadow: 3px 3px 0px darken($background,15%);
    line-height: 1.5;

    .script {
      font-family: 'bickham-script-pro-3', 'edwardian-script';
      @include typi($h1-map);
    }

    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
}

.container {
  @include container();
  padding-left: 1rem;
  padding-right: 1rem;
}

.post-listings {
  @include breakpoint(bp(iPadAir_p)) {
    @include span(8);
  }
}

.post-listing {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #aaa;
  h1 {
    margin-bottom: 0;
  }
}
