.topbar {
  $background: $c2;
  background: $background;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topbar-inner {
  $color: $c5;
  $height: 4rem;

  position: relative;
  height: $height;

  .site-name {
  }

  .site-name-extension {
    display: none;
    @include breakpoint(bp(iPadAir_l)) {
      display: inline;
    }
  }

  .links {
    float: right;
  }

  .link {
    display: inline-block;
    line-height: $height;
    color: $color;
    &:hover {
      color: $color;
    }
  }
}
