

$sans: 'proxima-nova-condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
$serif: 'freight-text-pro', serif;

$ms-base: 1em;
$ms-ratio: 1.125;
$ms-fluid: true;

$typi: (
  null: 16px
);

$p-map: (
  null: (ms(1), 1.5),
  iPhone5_l: (ms(2)),
  iPadAir_l: (ms(3), 1.6)
);

$h1-map: (
  null: (ms(8), 1),
  iPhone5_l: (ms(10)),
  iPadAir_l: (ms(13))
);

$h2-map: (
  null: (ms(5), 1),
  iPhone5_l: (ms(7)),
  iPadAir_l: (ms(10))
);

$h3-map: (
  null: (ms(4), 1),
  iPhone5_l: (ms(6)),
  iPadAir_l: (ms(9))
);

$h4-map: (
  null: (ms(3), 1),
  iPhone5_l: (ms(5)),
  iPadAir_l: (ms(8))
);

$h5-map: (
  null: (ms(2), 1),
  iPhone5_l: (ms(4)),
  iPadAir_l: (ms(7))
);

$h6-map: (
  null: (ms(1), 1),
  iPhone5_l: (ms(3)),
  iPadAir_l: (ms(6))
);

$small-map: (
  null: (ms(-1), 1),
  iPhone5_l: (ms(0)),
  iPadAir_l: (ms(0))
);

$topbar-map: (
  null: (ms(2), 1)
);

$site-name-map: (
  null: (ms(2))
);

$card-title-map: (
  null: (ms(3), 1),
  iPhone5_l: (ms(4)),
  iPadAir_l: (ms(5))
);

html {@include typi-base();}
h1, .h1 {@include typi($h1-map);}
h2, .h2 {@include typi($h2-map);}
h3, .h3 {@include typi($h3-map);}
h4, .h4 {@include typi($h4-map);}
h5, .h5 {@include typi($h5-map);}
h6, .h6 {@include typi($h6-map);}
p, .p {@include typi($p-map);}
small, .small {@include typi($small-map);}

body {
  font-family: $serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  margin: 1em 0 0.5em 0;
}

.dropcap {
  font-family: $serif;
  margin-right: 0.05em;
}

.notice {
  font-family: $sans;
  @include typi($small-map);
}

.text-input-group {
  font-family: $sans;

  input {
    @include typi($p-map);
  }
}

small {
  font-family: $sans;
}

.site-name {
  @include typi($site-name-map);
  font-weight: bold;
}
