$breakpoints: (
  iPhone5_p: 320px,
  iPhone6_p: 375px,
  iPhone5_l: 568px,
  iPhone6_l: 667px,
  iPadAir_p: 768px,
  iPadAir_l: 1024px,
  laptop: 1440px,
  container: 1024px
);

$z: (
  England: -9999
);

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: split,
  container: bp(container),
  container-position: center,
  columns: 12,
  gutters: 0,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to
);

$c1: rgba(6, 81, 67, 1);
$c2: rgba(0, 31, 84, 1);
$c3: rgba(184, 12, 9, 1);
$c4: rgba(65, 41, 44, 1);
$c5: rgba(251, 251, 255, 1);

$shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
