.countdown {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background: white;
  color: white;

  &.past {
    color: black;
  }

  &.future {
    color: red;
  }
}

.countdown__days {
  font-size: 2em;
}

.countdown__description {
  text-transform: uppercase;
  font-size: 0.8em;
}