---
layout: default
title: We are against public funding for the Sheriff's Posse's inaugural display
description: We have compiled statements from Merced community members regarding their thoughts on this planned action by the Merced County Board of Supervisors.
seo_title:
seo_description:
facebook_image:
notice:
---

<div class="post-container">
  <article class="post">
    <header class="post-header">
      <h1>{{ page.title }}</h1>
    </header>
    {% if page.notice %}
    <aside class="post-notice">
      {{ page.notice }}
    </aside>
    {% endif %}
    <div class="post-body">

      <p>On January 10, the Merced County Board of Supervisors is planning to approve $10,000 of public funding to the Sheriff's Posse so that they and their horses can parade in front of President-Elect Donald Trump at his presidential inauguration on January 20, 2017.</p>

      <p>This money would be taken from the county's annual advertising budget, which is intended to support efforts that put Merced County in a positive light. We believe that there are many better ways for our County government to spend these funds that would bring actual benefit to our communities.</p>

      <p>Here are statements from Merced community members regarding their thoughts on this planned move by the Merced County Board of Supervisors.</p>

    </div>
  </article>
</div>

<div class="layer m-lightGray">
  <div class="container">
    {% assign items = site.statements | sort: 'order' %}
    {% for item in items %}
    <div class="card m-hover j-href" href="{{ item.url }}">
      <p>
        <strong>{{ item.author }}</strong><br />
        <strong>{{ item.date | date: "%Y %B %-d" }}</strong>
      </p>
      {{ item.content | markdownify }}
    </div>
    {% endfor %}
  </div>
</div>
